<% const error2 = typeof error === 'undefined' ? "" : error %>
<% if(error2.length > 0) { %>
    <div id="errorDiv" class="absolute top-20 left-1/2 transform -translate-x-1/2 px-3 py-2 bg-red-500 rounded-md z-10 ">
        <h3 class="text-white p-2">
            <%= error2 %>
        </h3>
    </div>
<% } %>